In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv ("customer_shopping_behavior.csv")
df.head(2)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe(include = "all")

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
count,3900.000000,3900.000000,3900,3900,3900,3900.000000,3900,3900,3900,3900,3863.000000,3900,3900,3900,3900,3900.000000,3900,3900
unique,NaN,NaN,2,25,4,NaN,50,4,25,4,NaN,2,6,2,2,NaN,6,7
top,NaN,NaN,Male,Blouse,Clothing,NaN,Montana,M,Olive,Spring,NaN,No,Free Shipping,No,No,NaN,PayPal,Every 3 Months
freq,NaN,NaN,2652,171,1737,NaN,96,1755,177,999,NaN,2847,675,2223,2223,NaN,677,584
mean,1950.500000,44.068462,NaN,NaN,NaN,59.764359,NaN,NaN,NaN,NaN,3.750065,NaN,NaN,NaN,NaN,25.351538,NaN,NaN
std,1125.977353,15.207589,NaN,NaN,NaN,23.685392,NaN,NaN,NaN,NaN,0.716983,NaN,NaN,NaN,NaN,14.447125,NaN,NaN
min,1.000000,18.000000,NaN,NaN,NaN,20.000000,NaN,NaN,NaN,NaN,2.500000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
25%,975.750000,31.000000,NaN,NaN,NaN,39.000000,NaN,NaN,NaN,NaN,3.100000,NaN,NaN,NaN,NaN,13.000000,NaN,NaN
50%,1950.500000,44.000000,NaN,NaN,NaN,60.000000,NaN,NaN,NaN,NaN,3.800000,NaN,NaN,NaN,NaN,25.000000,NaN,NaN
75%,2925.250000,57.000000,NaN,NaN,NaN,81.000000,NaN,NaN,NaN,NaN,4.400000,NaN,NaN,NaN,NaN,38.000000,NaN,NaN
max,3900.000000,70.000000,NaN,NaN,NaN,100.000000,NaN,NaN,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,50.000000,NaN,NaN

In [5]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

In [6]:
# Replace Null Value with median as it is not affected or orboust to outlier.
# We will impute median, category wise, to minimize the error/bias.
# Overall rating median can also be used, but that can give little biased results.

In [7]:
df["Review Rating"] = df.groupby("Category") ["Review Rating"].transform (lambda x: x.fillna (x.median()))

In [8]:
df.isnull().sum().sum()  # No more null values

np.int64(0)

In [9]:
df.columns  # Columns names have spaces, lower case, uppper case, gaps, and special character, so make it all uniform
# and snake casing so that it becomes easy while reading/calling the columns. (all lower case and underscore in between)

Index(['Customer ID', 'Age', 'Gender', 'Item Purchased', 'Category',
       'Purchase Amount (USD)', 'Location', 'Size', 'Color', 'Season',
       'Review Rating', 'Subscription Status', 'Shipping Type',
       'Discount Applied', 'Promo Code Used', 'Previous Purchases',
       'Payment Method', 'Frequency of Purchases'],
      dtype='object')

In [10]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace (" ", "_")
df = df.rename (columns = {"purchase_amount_(usd)": "purchase_amount"})

In [11]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

In [12]:
# FEATURE ENGINEERING (creating new columns)

In [13]:
# create a column age_group (to understand the data better)
def get_age_group(age):
    if age < 18:
        return 'Young'
    elif age < 30:
        return 'Adult'
    elif age < 50:
        return 'Middle-aged'
    else:
        return 'Senior'

df['age_group'] = df['age'].apply(get_age_group)

In [14]:
df[['age','age_group']]

      age    age_group
0      55       Senior
1      19        Adult
2      50       Senior
3      21        Adult
4      45  Middle-aged
...   ...          ...
3895   40  Middle-aged
3896   52       Senior
3897   46  Middle-aged
3898   44  Middle-aged
3899   52       Senior

[3900 rows x 2 columns]

In [15]:
df['age_group'].unique()  #no customer of below 18years present

array(['Senior', 'Adult', 'Middle-aged'], dtype=object)

In [16]:
#create column purchase_frquency_days (since frequency_of_purchases is a text coloumn, numeric value will be better for analysis )

In [17]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [18]:
 frquency_mapping = {
     'Fortnightly': 14, 'Weekly':7, 'Annually':365, 'Quarterly':90, 'Bi-Weekly':14,
       'Monthly': 30, 'Every 3 Months':90
 }
 df["purchase_frequency_days"] = df["frequency_of_purchases"].map(frquency_mapping)

In [19]:
df[["frequency_of_purchases", "purchase_frequency_days"]].head(5)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365

In [20]:
df[['discount_applied', 'promo_code_used']].head(5)  #both coluns looks alike, as when promo used, it a discount.
# but discount can also be there without a promo code, so need to check if these both columns are actually required.

  discount_applied promo_code_used
0              Yes             Yes
1              Yes             Yes
2              Yes             Yes
3              Yes             Yes
4              Yes             Yes

In [21]:
(df['discount_applied']==df['promo_code_used']).all()  # means both columns have exactly same information, so can drop any one.

np.True_

In [22]:
df= df.drop('promo_code_used', axis=1)

In [23]:
df.columns  # no more promo_code_used column present

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [24]:
# !pip install sqlalchemy pymysql

In [25]:
'''import pymysql

# Connect only to the server (no specific DB yet)
conn = pymysql.connect(host="localhost", user="root", password="Sandhya@25", port=3306)
cur = conn.cursor()
cur.execute("CREATE DATABASE IF NOT EXISTS customer_behaviour;")
conn.close()

print("✅ Database 'customer_behaviour' created or already exists.")'''

'import pymysql\n\n# Connect only to the server (no specific DB yet)\nconn = pymysql.connect(host="localhost", user="root", password="Sandhya@25", port=3306)\ncur = conn.cursor()\ncur.execute("CREATE DATABASE IF NOT EXISTS customer_behaviour;")\nconn.close()\n\nprint("✅ Database \'customer_behaviour\' created or already exists.")'

In [26]:
'''from sqlalchemy import create_engine
from urllib.parse import quote_plus

# MySQL connection
username = "root"
password = quote_plus("Sandhya@25")
host = "localhost"
port = 3306
database = "customer_behaviour"

# Create SQLAlchemy engine
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Write your existing DataFrame to MySQL
df.to_sql("customer", engine, if_exists="replace", index=False)  # creates/replaces table 'customer'

# Optional: read back a few rows to confirm
import pandas as pd
data = pd.read_sql("SELECT * FROM customer LIMIT 2;", engine)
print(data)'''

'from sqlalchemy import create_engine\nfrom urllib.parse import quote_plus\n\n# MySQL connection\nusername = "root"\npassword = quote_plus("Sandhya@25")\nhost = "localhost"\nport = 3306\ndatabase = "customer_behaviour"\n\n# Create SQLAlchemy engine\nengine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")\n\n# Write your existing DataFrame to MySQL\ndf.to_sql("customer", engine, if_exists="replace", index=False)  # creates/replaces table \'customer\'\n\n# Optional: read back a few rows to confirm\nimport pandas as pd\ndata = pd.read_sql("SELECT * FROM customer LIMIT 2;", engine)\nprint(data)'